body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
    width: 240px;
    height: 240px;
}

.space {
    font-size: 4em;
    font-family: monospace;
    text-align: center;
    border: solid 2px;
    box-sizing: border-box;
}